@use '../../../../../variable/style/mixin';

.sub-title {
    margin-bottom: 30px;
}

.gauge-risk-container {
    @include mixin.width-height(400px, 400px);

    canvas#gauge-risk {
        width: 400px;
        height: 400px;
    }
}