@use '../../../../../variable/style/mixin';

.sub-title {
    margin-bottom: 50px;
}

.buisness-line-distribution-container {
    @include mixin.width-height(100%, 600px);
    margin: 0 auto;

    canvas#buisness-line-distribution {
        width: 100%;
        height: 600px;
    }
}