<h1>
    <div class="welcome-dashbord-constainer">
        <span class="welcome-text">
            Welcome 
        </span>
        <span class="name-text">
            {{ identity.surname }} {{ identity.name }}
        </span>
    </div>    
</h1>

<div class="semi-circular-container">
    <app-overall-risk-distribution *ngIf="forms$ | async as forms" [forms]="forms"></app-overall-risk-distribution>

    <app-risk-gauge *ngIf="forms$ | async as forms" [forms]="forms"></app-risk-gauge>
</div>
    
<app-buisness-line-distribution *ngIf="forms$ | async as forms" [forms]="forms"></app-buisness-line-distribution>

<app-dashboard-latest-form *ngIf="latestForms$ | async as latestForms" [forms]="latestForms"></app-dashboard-latest-form>