<div [hidden]="question.isHidden" class="my-form-question-container">

	<progress id="progress-bar" [value]="index / questions.length">{{ index / questions.length }}%</progress>

	<div class="question-item-container">
		<app-question-template 
			[form]="myForm" 
			[question]="question"
			[answers]="answers"
			[formData]="formData"
		></app-question-template>
	</div>

	<div class="question-button-container">
		<button type="button" (click)="previousButton(index)" class="button-empty previous-button">Previous</button>
		<!-- Si c'est la dernière question, le button Next nous amène alors vers le sum - up du formulaire -->
		<button (click)="nextButton(index)" *ngIf="index < questions.length - 1" class="button-fill next-button">Next</button>
		<a (click)="goToSumUp(index)" *ngIf="index === questions.length - 1" class="button-fill next-button">Sum Up</a>
	</div>

</div>