@use "../../../../../../variable/style/mixin";
@use "../../../../../../variable/style/color";

.my-form-question-container #progress-bar[value] {
    @include mixin.width-height(100%, 15px);
    -webkit-appearance: none;
    appearance: none;
}
.my-form-question-container #progress-bar[value]::-webkit-progress-bar {
    @include mixin.border-radius(15px);
    background-color: color.$secondary;
}
.my-form-question-container #progress-bar[value]::-webkit-progress-value {
    @include mixin.border-radius(15px);
    background: color.$progress;
}

// .my-form-question-container #progress-bar {
//     @include mixin.width-height(100%, 30px);
// }

.my-form-question-container .question-item-container {
    @include mixin.width-height(700px, 400px);
    @include mixin.flex(column, center, center);

    margin: 0 auto;

    app-question-template {
        @include mixin.width-height(100%, auto);
    }
}

.my-form-question-container .question-button-container {
    @include mixin.flex(row, flex-end, center);

    .next-button {
        margin-left: 30px;
    }
}


@media screen and (max-width: 1100px) {
    .my-form-question-container .question-item-container {
        @include mixin.width-height(100%, 400px);
        @include mixin.flex(column, center, center);
    }
}