@use "../../../../../variable/style/color";
@use "../../../../../variable/style/mixin";

.sum-up-note {
    margin-bottom: 50px;
}

.sum-up-border {
    background-color: color.$primary;
    padding-left: 3px;

    .sum-up-container {
        background-color: white;
        padding: 10px 0 0 40px;

        .sum-up-item-container {
            margin-bottom: 30px;

            .question-answer-container {
                @include mixin.flex(row, center, center);
                margin: 20px 0;

                .question-answer-radio-container {
                    @include mixin.flex(row, center, center);
        
                    .question-answer-radio-item {
                        @include mixin.flex(row, center, center);
        
                        margin-left: 30px;
        
                        input[type='radio'] {
                            @include mixin.width-height(20px, 20px);
        
                            margin-right: 20px;
                            filter: grayscale(1);
                        }
        
                        span {
                            margin-right: 30px;
                        }
                    }
                }

                .question-answer-select-container {
                    @include mixin.width-height(500px, auto);
            
                    background-color: transparent;
                    font-size: 16px;
                    padding: 5px 0;
                    border: none;
                    border-bottom: 2px solid color.$secondary;
                    outline: none;
                }
            }
        }
    }

    .error-message {
        color: color.$warning;
    }
}

.confirming-container {
    margin: 60px 0;
}

.submit-container {
    @include mixin.flex(row, flex-end, flex-end);
}