@use '../../../../../variable/style/mixin';

.spider-chart-container {
    @include mixin.width-height(700px, 700px);
    margin: 0 auto;

    canvas {
        width: 700px;
        height: 700px;
    }
}

@media screen and (max-width: 850px) {
    .spider-chart-container {
        @include mixin.width-height(100%, 100%);
        margin: 0 auto;
    
        canvas {
            width: 100%;
            height: 100%;
        }
    }
}