@use '../../../../../variable/style/mixin';

.spider-chart-container {
    @include mixin.width-height(400px, 400px);
    margin: 0 auto;

    canvas {
        width: 400px;
        height: 400px;
    }
}