<h1 class="title-component-container">
    My Form
</h1>

<div class="search-entreprise-container" *ngIf="entrepriseExists">

    <form action="" (ngSubmit)="onSubmitSearch()" [formGroup]="searchForm">

            <app-question-template 
                [form]="searchForm" 
                [question]="questionSearch"
                [placeholder]="placeholder"
            ></app-question-template>

        <div class="search-container">
            <input type="submit" value="Search" class="button-fill">
        </div> 

    </form>

</div>

<div class="add-entreprise-container">

    <div class="add-entreprise-text" *ngIf="entrepriseExists">
        If the company you are looking for has not been registered yet, click on the following button. 
    </div>
    

    <div class="add-container">
        <button class="button-fill" (click)="exists()" *ngIf="entrepriseExists">
            Add Compagny
        </button>
    </div> 

    <div *ngIf="!entrepriseExists">
        
        <form action="" (ngSubmit)="onSubmitAdd()" [formGroup]="addForm">

                <app-question-template 
                    [form]="addForm" 
                    [question]="questionAdd"
                    [placeholder]="placeholder"
                ></app-question-template>

            <div class="search-container">
                <button class="button-fill" (submit)="onSubmitAdd">
                    Add Compagny
                </button>
            </div> 
    
        </form>

    </div>
    
</div>