@use '../../../../variable/style/mixin';

.spider-chart-constainer {
    @include mixin.width-height(700px, 700px);
    margin: 0 auto;

    canvas {
        width: 700px;
        height: 700px;
    }
}

.button-back-to-form-container {
    @include mixin.flex(row, flex-end, center);
}